
body{
	margin: 0px;
	padding: 0px;
	background-color:rgb(124,171,29);
}

div#buttons{
	margin-top: 3%;
	margin-bottom: 2%;
}

.header{
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
	height: 102px;
	margin: 0px;
	padding: 0px;
	background-color:white;
}

#header-logo{
	float: left;
	padding: 0px;
	width:85%;
}


#header-banner{
	float: left;
	height:102px;
}

i.breakline{
	
float: left;
height: 80px;
border-left: 1px solid #e0e0e0;
margin: 10px 15px 0 7px;
}

div.userinfo{
	
	float:left;
	padding-right: 20px;
}

h4.username{
	
	font-family: Helvetica,Arial,sans-serif;
	font-weight: normal;
	float:left;
	color: #727168;
}

/* css voor standaard title bij die bij elke pagina gebruikt moet worden.  */
#title{
	color: RGB(65,136,0);
	margin-bottom: -2%;
	
}
.wrapper{
	margin-top: 102px;
	min-width: 100%;
}

#wrapper-menu{
	float: left;
	width: 192px;
}

#wrapper-content{
	float: left;
	width: calc(100% - 192px);
}

#content{
	width: 99%;
	height: calc(100% - 108px);
	border:solid 3px; 
	border-color:rgb(124,171,29);
	background-color: white;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}


div#defaultopmaak{
 margin-left: -550px;
 margin-top: 80px;
}

.ltf {  /*Login pagina inputboxen style*/

width: 200px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
background: #fff;
border: solid 1px;
border-color: #888888;
color: #555;
padding: 8px;
font-size: 13px;
}
   
.ltf:focus{
 
outline: none;
border-color: #459300;
border-width:2px;
}

#loginelements{
 
 margin: 50px auto auto auto;
 border-radius: 10px 10px 10px 10px;
}

input[type=submit] {
    
    margin-right:-125px;
    padding: 6px 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: #050505 0 -1px 0;
    background-color: #459300;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px transparent;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    position:relative;
   }
   
   input[type=button] {
    
    margin-right:-125px;
    padding: 6px 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: #050505 0 -1px 0;
    background-color: #459300;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px transparent;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    position:relative;
   }
   
input[type=button]:hover{
    
    text-shadow: #050505 0 -1px 2px;
    background-color: #a4d04a;
    color: #fff;
 
}   
   
input[type=submit]:hover{
    
    text-shadow: #050505 0 -1px 2px;
    background-color: #a4d04a;
    color: #fff;
 
}   
   
div#standaardlogo{
 position: relative;
    top: 50px;
    bottom:-100px;
    left:155px;
 
}


#menu ul {  
    list-style-type: none;  
    width: 175px; /* Nieuw */ 
}

#menu ul li {  
    margin: 0;
    margin-bottom: 2px;
   
      
}
  
#menu ul li a {  
    display: block;  
    padding: 15px;  
    background-color: white;
    font-family: Verdana;  
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#menu ul li a:hover {  
	background-color: rgb(124,171,29); 
	border-style:solid;
	border-width: 1px;
	border-color:black; 
}  


header{
	border-style:solid;
	border-width: 1px;
	border-color: rgb(124,171,29);
}

#menu ul {  
    list-style-type: none;  
    width: 175px; /* Nieuw */ 
    margin-left: -40px;
}

#menu ul li {  
    margin: 0;
    margin-bottom: 2px;   
}
  
#menu ul li a {  
    display: block;  
    padding: 15px;  
    background-color: white;
    font-family: Verdana;  
    color: black;  
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;    
}

#menu ul li a:hover {
	background-color: white; 
	border-style:solid;
	border-width: 1px;
	border-color:black;
}

div#center{
 margin-top: 20px;
 margin-left: 110px;
 text-align: right;
 display: inline-block;
 }
 

label {
 width: 150px;
 text-align: center;
 display: inline-block;
}
div#test{
  text-align: left;
    margin-left: 348px;
 
}

fieldset{
 
 width: 360px; 
    height: 200px;
    border-radius:10px 10px 10px 10px;
}

#schoollogo{
 position: absolute;
    top: 0px;
    left: 0px;
}

h1{
	margin-top:-3%;
	margin-left:4%;
}

#lineup{
	margin-top: 20px;
 	margin-left: 110px;
 	text-align: left;
    display: inline-block;
	padding:5px;	
}

#knopcomp{
margin-left:115px;
margin-top: 50px;
}
#knopcomp1{
margin-top: 20px;
 margin-left: 110px;
 text-align: left;
    display: inline-block;

}
#kleiner{
	font-size:80%
	
}

/* extra table leraar*/
#tableDocent{
	width:500px;
	text-align:center;
}
table, td, th
{
border:1px solid rgb(124,171,29);
}
th
{
background-color:rgb(124,171,29);
color:white;
}

h3#loggeduser{
	width:143px;
	margin-left:2%;
}
 /* css voor de disable van de inputs , bij de competentiesleerling.jsp */ 
 input[type="text"][disabled] {
   background-color: white;
}
/* css voor de tabel van MijnLeerling naast elkaar*/
#naasttabel{
	float:left;
}
#tableLeerling{
	margin-left: 50px;
	margin-top: 10px;
	
	float:left;
	
	
}

/* ccs voor de op de pagina Competentiesleerling 
- radiobuttons.*/
#radio{
	float:left;
	position: absolute;
	margin-top: -1.5%;
	margin-left: 350px;
}
#submitBeoordeling{
	margin-top:-5%;
	margin-left:-7%;
}

/* admin index kleine wijzigingen */
#adminindex{
	margin-left:2%;
}
