

body{
	margin: 0px;
	padding: 0px;
	background-color:rgb(124,171,29);
}

div{
	display:block;
}



.ltf {  /*Login pagina inputboxen style*/

width: 200px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
background: #fff;
border: solid 1px;
border-color: #888888;
color: #555;
padding: 8px;
font-size: 13px;
}
   
.ltf:focus{
 
outline: none;
border-color: #459300;
border-width:2px;
}

input[type=submit] {
    padding: 6px 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: #050505 0 -1px 0;
    background-color: #459300;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px transparent;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
   }
   
input[type=submit]:hover{
    
    text-shadow: #050505 0 -1px 2px;
    background-color: #a4d04a;
    color: #fff;
 
}   
   
div#standaardlogo{
margin-top:45px;
margin-left:30%;	
float:left;
width:auto;
 
}

div#content-body-wrapper{
width: 100%;
height:20em;
margin-top:150px;
}

div#content-body
{
background-color: white;
width: 50%;
float: left;
margin-left:12%;
height: 100%;
z-index:99;
border-radius:50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
}

div#slider-content{
background-color: white;
float: left;
width: 25%;
height: 100%;
z-index:99;
border-radius:50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
}

div#login-content{
	width:auto;
	float:left;
	margin-left:30%;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	padding:7px;
	
}

div#login-content-buttons{
	width:auto;
	float:left;
	padding:10px;
	margin-left:30%;
}


#microsoftimage{
 width:100px;
 float:left;
 margin-right:20px;
 margin-top:-20px;

}

div#error{
	margin-left:32%;
	position: absolute;
	width:10%;
	float:left;
	padding:5px;
	color: red;
	margin-top:10%;
	font-weight:bold;
}

#slideshow { 
	float:left;
    margin: 50px auto; 
    position: relative; 
    margin-left:10%;
    top:-20px;
    width: 240px; 
    height: 240px; 
    padding: 10px; 
   
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    
}


